<div class="dialog-container">
    <h2>Edit Profile</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameControl" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Affiliations</mat-label>
      <textarea matInput [formControl]="affiliationControl" rows="4"></textarea>
    </mat-form-field>
  
    <div class="button-group">
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
  